/url/cache
/.emacs.desktop
/auto-save-list
/.session
/eshell
.DS_Store
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/site-lisp/*